<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cyan.svc.nazgulexample.mappers.SqlMapper">
    <select id="executeSql" resultType="map">
        #{sqlStr}
    </select>

    <select id="heartBeat" resultType="Integer">
        SELECT 1;
    </select>
</mapper>